Negocio/Web References/WsFielSesion/firmaiws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://contraloria.sonora.gob.mx" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://contraloria.sonora.gob.mx/AbstractTypes" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://contraloria.sonora.gob.mx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://contraloria.sonora.gob.mx">
      <s:element name="IniciarSesion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="certificado" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IniciarSesionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IniciarSesionResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
    </s:schema>
    <s:schema targetNamespace="http://contraloria.sonora.gob.mx/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IniciarSesionSoapIn">
    <wsdl:part name="parameters" element="tns:IniciarSesion" />
  </wsdl:message>
  <wsdl:message name="IniciarSesionSoapOut">
    <wsdl:part name="parameters" element="tns:IniciarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IniciarSesionHttpGetIn">
    <wsdl:part name="certificado" type="s1:StringArray" />
    <wsdl:part name="IP" type="s:string" />
    <wsdl:part name="serial" type="s:string" />
    <wsdl:part name="usuario" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IniciarSesionHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="IniciarSesionHttpPostIn">
    <wsdl:part name="certificado" type="s1:StringArray" />
    <wsdl:part name="IP" type="s:string" />
    <wsdl:part name="serial" type="s:string" />
    <wsdl:part name="usuario" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IniciarSesionHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:portType name="FirmaIWSSoap">
    <wsdl:operation name="IniciarSesion">
      <wsdl:input message="tns:IniciarSesionSoapIn" />
      <wsdl:output message="tns:IniciarSesionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FirmaIWSHttpGet">
    <wsdl:operation name="IniciarSesion">
      <wsdl:input message="tns:IniciarSesionHttpGetIn" />
      <wsdl:output message="tns:IniciarSesionHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FirmaIWSHttpPost">
    <wsdl:operation name="IniciarSesion">
      <wsdl:input message="tns:IniciarSesionHttpPostIn" />
      <wsdl:output message="tns:IniciarSesionHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FirmaIWSSoap" type="tns:FirmaIWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IniciarSesion">
      <soap:operation soapAction="http://contraloria.sonora.gob.mx/IniciarSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FirmaIWSSoap12" type="tns:FirmaIWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IniciarSesion">
      <soap12:operation soapAction="http://contraloria.sonora.gob.mx/IniciarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FirmaIWSHttpGet" type="tns:FirmaIWSHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="IniciarSesion">
      <http:operation location="/IniciarSesion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FirmaIWSHttpPost" type="tns:FirmaIWSHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="IniciarSesion">
      <http:operation location="/IniciarSesion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FirmaIWS">
    <wsdl:port name="FirmaIWSSoap" binding="tns:FirmaIWSSoap">
      <soap:address location="http://172.16.101.51/firmawstest/firmaiws.asmx" />
    </wsdl:port>
    <wsdl:port name="FirmaIWSSoap12" binding="tns:FirmaIWSSoap12">
      <soap12:address location="http://172.16.101.51/firmawstest/firmaiws.asmx" />
    </wsdl:port>
    <wsdl:port name="FirmaIWSHttpGet" binding="tns:FirmaIWSHttpGet">
      <http:address location="http://172.16.101.51/firmawstest/firmaiws.asmx" />
    </wsdl:port>
    <wsdl:port name="FirmaIWSHttpPost" binding="tns:FirmaIWSHttpPost">
      <http:address location="http://172.16.101.51/firmawstest/firmaiws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>