Negocio/Web References/WsPagoRegistroCivil_Desarrollo/SI_PagoRegistroCivil_out.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p2="http://geson.gob.mx/TRM/PORTAL/PagoRegistroCivil" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="http://geson.gob.mx/PORTAL/WS/PagoRegistroCivil" name="SI_PagoRegistroCivil_out" targetNamespace="http://geson.gob.mx/PORTAL/WS/PagoRegistroCivil" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_PagoRegistroCivil_out" />
  <wsdl:types>
    <xsd:schema xmlns="http://geson.gob.mx/TRM/PORTAL/PagoRegistroCivil" targetNamespace="http://geson.gob.mx/TRM/PORTAL/PagoRegistroCivil" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://geson.gob.mx/PORTAL/WS/PagoRegistroCivil" />
      <xsd:element name="MT_CtaContrato_resp" type="p1:DT_PagoRegistroCivil" />
      <xsd:element name="MT_CtaContrato_req" type="p1:DT_EntradaCtaContrato" />
    </xsd:schema>
    <xsd:schema xmlns="http://geson.gob.mx/PORTAL/WS/PagoRegistroCivil" targetNamespace="http://geson.gob.mx/PORTAL/WS/PagoRegistroCivil" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="DT_PagoRegistroCivil">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">22d6dd19089711e4a35b00000059bd3e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="COD_BP">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">df874baa089411e49f89d676c0a8fca6</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="COD_CTA_CONTRATO">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">df874bab089411e485efd676c0a8fca6</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="COD_OBJ_CONTRATO">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">df877994089411e4a4c7d676c0a8fca6</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" name="Conceptos" type="p1:DT_Conceptos">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">df877995089411e4b4a3d676c0a8fca6</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" name="Mensajes" type="p1:DT_Mensajes" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_EntradaCtaContrato">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">994c474f0e1d11e4895300000059bd3e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="TP_CTA_CONTRATO">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a0b1688e0e1e11e4a8eef723c0a8fca6</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="COBRO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_Conceptos">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">aee9c84c113b11e4ab8700000059bd3e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="COD_CONCEPTP">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">1dedbffa0d5611e490ade265c0a8fca6</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="11" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="COD_OP_PRINC">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">1dedd4210d5611e49c87e265c0a8fca6</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="COD_OP_PARCI">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">1dedd4220d5611e4a2f4e265c0a8fca6</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DESCRIPCION">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="IMPORTE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">1dedd4230d5611e4a6c6e265c0a8fca6</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="13" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CANTIDAD">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">1dedd4240d5611e48279e265c0a8fca6</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:int">
                <xsd:totalDigits value="5" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_Mensajes">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">22dc6fc5089711e4c84200000059bd3e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="TP_MENS">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">1a22fe24e5fa11e38d98c745c0a80173</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID_MENS">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">1a22fe25e5fa11e3b2fbc745c0a80173</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:totalDigits value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="V1_MENS">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">1a233720e5fa11e3c1b0c745c0a80173</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="V2_MENS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_CtaContrato_req">
    <wsdl:documentation />
    <wsdl:part name="MT_CtaContrato_req" element="p2:MT_CtaContrato_req" />
  </wsdl:message>
  <wsdl:message name="MT_CtaContrato_resp">
    <wsdl:documentation />
    <wsdl:part name="MT_CtaContrato_resp" element="p2:MT_CtaContrato_resp" />
  </wsdl:message>
  <wsdl:portType name="SI_PagoRegistroCivil_out">
    <wsdl:documentation />
    <wsdl:operation name="SI_PagoRegistroCivil_out">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_PagoRegistroCivil_out" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_CtaContrato_req" />
      <wsdl:output message="p1:MT_CtaContrato_resp" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_PagoRegistroCivil_outBinding" type="p1:SI_PagoRegistroCivil_out">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_PagoRegistroCivil_out">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_PagoRegistroCivil_outService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_PagoRegistroCivil_outBinding">
      <address location="http://gespidci:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SIGAF_WS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_PagoRegistroCivil_out&amp;interfaceNamespace=http%3A%2F%2Fgeson.gob.mx%2FPORTAL%2FWS%2FPagoRegistroCivil" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_PagoRegistroCivil_outBinding">
      <address location="https://gespidci:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SIGAF_WS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_PagoRegistroCivil_out&amp;interfaceNamespace=http%3A%2F%2Fgeson.gob.mx%2FPORTAL%2FWS%2FPagoRegistroCivil" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>